--root{
    --yellowbg:hsl(47, 88%, 63%);
    --lightgray: hsl(0, 0%, 42%);
    --darkgray:  hsl(0, 0%, 7%);
}

body{
    margin: 0;
    padding: 0;
    background: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}


.container{
    background: #fff;
    border-radius: 10px;
    padding:15px;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
}

.image{
    width: 260px;
    height: 150px;
    background-image: url('./assets/images/illustration-article.svg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

button{
    padding: 2px 2px;
    background:hsl(47, 88%, 63%);
    color: black;
    font-weight: bolder;
    width: 78px;
    height: 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 11px;
}

.pub{
    font-size: 10px;
    font-weight: bold;
    margin-top: -3px;
    color: hsl(0, 0%, 42%);
}

h1{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
    text-align: center;
    margin-top: -19px;
    text-align: left;
    font-size: 14px;
}

.text{
    margin-top: -17px;
    font-size: 10px;
    max-width: 260px;
    color: hsl(0, 0%, 20%);
    line-height:19px;

}


.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.author h3{
    margin: 0;
    font-size: 10px;
    font-weight: bold;
}
